/DiceGameNoSpring/dist/
/SpringDiceGame/.nb-gradle/
/HelloWorldExample/nbproject/private/
/HelloWorldExample/build/
/HibernateExample/nbproject/private/
/HibernateExample/build/
/HibernateExample/dist/