/DiceGameNoSpring/dist/
/SpringDiceGame/.nb-gradle/
/HelloWorldExample/nbproject/private/
/HelloWorldExample/build/
/HibernateExample/nbproject/private/
/HibernateExample/build/
/HibernateExample/dist/
/JavaApplication54/nbproject/private/
/JavaApplication54/build/
/DiceGame2/nbproject/
/DiceGame/nbproject/